
.search{
    position: relative;
    top: 0px;
    width : 390px;
    height: 35px;
    background: #fff;
    border-radius: 60px;
    left :39%;

}
.search input{
    position: inherit;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 30px;
    background: #fff;
    border: blue;
    outline: none;
    overflow: hidden;
}
.btn button{
    width: 60px;
    height: 30px;
    border-radius: 30px;
    color:black;
    background-color: rgb(120, 119, 120);
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
} 
.btn button:hover{
    color: white;
    background-color: rgb(40, 40, 185);
}

