*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    align-items: right;

}
.nav1{
    display: flex;
    text-align: right;
    align-items: right;
    text-align: right;
    justify-content: space-between;
    background: none;
    padding: 20px 80px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0,0.4);
}
.nav1 li{
    list-style-type: none;
    display:inline-flex;
    padding: 1rem;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
.nav1 li ::after{
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
.nav1 li:hover{
    color: #ffff;
    background: #2b0fa9;
    border-radius: 30px;
}
.nav1 li:hover::after{
    top: 50%;
    opacity: 1;
}
.nav1 a{
    color: inherit;
    background:inherit;
}
.nav1 a img{
    width: 4rem;
    height: 4rem;
}